/* Webfont: Marquez-Regular */@font-face {
    font-family: 'Marquez';
    src: url('Marquez.woff2') format('woff2'), /* Modern Browsers */
         url('Marquez.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

